@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding:  2px;
}
a.active {
  color:rgb(248, 9, 9);
  font-size: larger;
}
li a:hover {
  color:rgb(248, 9, 9);
}

@tailwind base;
@tailwind components;
@tailwind utilities;